.carouselContainer {
  width: 100%;
  margin: 0 auto;

  @media only screen and (max-width: 56.25em) {
    width: 100%;
  }
}

.donateBanner {
  background-color: $dkBl;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 43.75em) {
    flex-direction: column;
  }

  &__CTA {
    font-size: 2.6rem;
    color: $wt;

    @media only screen and (max-width: 25em) {
      font-size: 2rem;
    }
  }

  &__btn {
    text-decoration: none;
    padding: 2rem;
    background-color: $ltBl;
    margin-left: 2rem;
    color: $wt;
    font-size: 2rem;
    border-radius: 0.5rem;
    transition: all 0.5s;

    @media only screen and (max-width: 43.75em) {
      margin-top: 2rem;
      padding: 1rem;
    }

    &:hover {
      background-color: $wt;
      color: $ltBl;
    }
  }
}

.ourPhilo {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 3rem;
  color: $dkBl;

  @media only screen and (max-width: 62.5em) {
    width: 70%;
  }

  @media only screen and (max-width: 31.25em) {
    width: 95%;
  }


  &__title {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  &__philo {
    font-size: 2.5rem;
  }
}

.stats {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: $ltBl;
  margin-bottom: 5rem;

  @media only screen and (max-width: 28.125em) {
    width: 100%;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__clock {
    height: 8rem;
    width: 8rem;
    fill: $ltBl;
  }

  &__clipboard {
    height: 8rem;
    width: 8rem;
    fill: $ltBl;
  }

  &__pawPrints {
    height: 8rem;
    width: 8rem;
  }

  &__counts {
    font-size: 4rem;
    margin-top: 3rem;
  }

  &__items {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

.imageBar {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;

  @media only screen and (max-width: 28.125em) {
    flex-direction: column;
  }

  &__img {
    height: 40rem;
    width: 30rem;
    box-shadow: -.5rem .5rem .5rem rgba($blk, 0.5);
    border-radius: .5rem;

    @media only screen and (max-width: 56.25em) {
      height: 20rem;
      width: 15rem;
    }

    @media only screen and (max-width: 28.125em) {
      height: 40rem;
      width: 100%;
    }
  }

  &__imgContainer {
    position: relative;

    @media only screen and (max-width: 28.125em) {
      width: 70%;
      margin: 1rem auto;
    }

    @media only screen and (max-width: 21.875em) {
      width: 95%;
      margin: 1rem auto;
    }
  }

  &__imgText {
    position: absolute;
    bottom: 5rem;
    right: 0;
    color: $wt;
    font-size: 4rem;
    background-color: rgba($ltBl, .5);
    padding-left: 1rem;
  }
}

.affiliates {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $flBl;
  padding: 2rem 0;

  @media only screen and (max-width: 37.5em) {
    flex-direction: column;
  }

  &__title {
    font-size: 3rem;

    @media only screen and (max-width: 37.5em) {
      font-size: 6rem;
      margin-bottom: 3rem
    }
  }

  &__chewy {
    height: 8rem;
    width: 30rem;

    @media only screen and (max-width: 62.5em) {
      height: 4rem;
      width: 15rem;
    }

    @media only screen and (max-width: 37.5em) {
      height: auto;
      width: 20rem;
    }
  }

  &__millers {
    height: 8rem;
    width: 24rem;

    @media only screen and (max-width: 62.5em) {
      height: 4rem;
      width: 12rem;
    }

    @media only screen and (max-width: 37.5em) {
      height: auto;
      width: 20rem;
    }
  }

  &__fleece {
    height: 8rem;
    width: 30rem;

    @media only screen and (max-width: 62.5em) {
      height: 4rem;
      width: 15rem;
    }

    @media only screen and (max-width: 37.5em) {
      height: auto;
      width: 20rem;
    }
  }
}
