.nav {
  background-color: $mdBl;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: stretch;
  }

  &__logoHam {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 601px) {
      position: absolute;
      margin-left: 1rem;
      left: 0;
    }
  }

  &__logo {
    width: 7rem;
    height: 7rem;

    @media screen and (max-width: 600px) {
      margin: 1rem;
    }
  }

  &__linkGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    padding: 2rem;
    color: $wt;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;

    @media screen and (max-width: 600px) {
      padding: 1rem;
    }
  }

  &__link:hover,
  &__link:active {
    color: $mdBl;
    background-color: $wt;
  }

  &__link:hover &__svg,
  &__link:active &__svg {
    fill: $mdBl;
  }

  &__svg {
    width: 3rem;
    height: 3rem;
    fill: $wt;
  }

  &__hamburger {
    display: none;
    fill: $wt;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      display: block;
      margin-top: 1rem;
      margin-right: 1rem;
    }
  }
}
