.socialBar {
  height: 5rem;
  background-color: $dkBl;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $wt;
  font-size: 1.5rem;

  &__social-icon {
    fill: $wt;
    width: 2rem;
    height: 2rem;
    margin-left: 0.8rem;
  }
}
